<h1>Editing Customer Request</h1>

<%= render 'form', customer_request: @customer_request %>

<%= link_to 'Show', @customer_request, class: 'btn-primary btn' %> |
<%= link_to 'Home', customer_requests_path, class: 'btn btn-info' %>
